@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #b98024b2;
    margin: 0%;
    padding: 0%;

    font-family: Poppins;
}


/*BOTONES (css reutilizable)*/
.button-one{
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgba(207, 46, 18, 0.726);
    box-shadow: black 2px 4px 4px;
}

.button-one:hover{
    background-color: whitesmoke;
    color: rgb(207, 46, 18);
}


/*TITULOS*/
.title{
    font-size: 35px;
    font-weight: 900;
    padding: 5px;
    margin: 10px;
    color: rgb(207, 46, 18);
    text-shadow: rgb(0, 0, 0) 4px 5px 3px;
}



header{
    background-color: rgba(207, 46, 18, 0.726);
}

.menu{
    margin: 0%;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    padding: 2px;

    box-shadow: rgba(0, 0, 0, 0.726) 2px 2px 5px;
}

.menu a:hover{
    color: rgb(255, 255, 255);
}

.menu li{
    display: inline-block;
    margin-inline-start: 150px;
}

.menu img{
    height: 38px;
}

.menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.hero-card{
    text-align: end;

    background-image: url(../img/banner-pizza.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;

    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: rgb(207, 46, 18);
    text-shadow: rgb(0, 0, 0) 4px 3px 3px;
}

.pizzas-container{
    display: block;
}


.pizzas-card{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    margin: 15px;

    border: 2px solid rgb(207, 46, 18);
    color: black;

    height: 500px;
    width: 400px;
}

.pizzas-card img{
    height: 200px;
    width: 400px;
}

footer{
    background-color:rgba(207, 46, 18, 0.726);
    height: 60px;
}

.ubi-card {
    border: 2px solid coral;
    height: 300px;
    width: 400px;
    margin: 10px;
    display: inline-block;
}

