.footer-links {
    background-color: rgba(209, 49, 21, 0.726);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    .social-link a {
        border: none;
        color: black;
        text-decoration: none;
        padding: 5px;
    }
}