main{
    .hero-card{
        background-image: url(../img/banner-pizza.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        color: rgb(207, 46, 18);
        text-shadow: rgb(0, 0, 0) 4px 3px 3px;
        padding-bottom: 30px;
    }
        .pizzas-container{
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .pizzas-card{
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                margin: 15px;
                border: 2px solid rgb(207, 46, 18);
                background-color: rgba(214, 74, 50, 0.651);
                color: whitesmoke;
                height: 500px;
                width: 400px;
                transition: all 0.7s  ease-in;
                &:hover{
                    animation: sombra 0.7s ease-in infinite;
                }
            p{
                padding: 5%;
            }
            img{
                height: 200px;
                width: 397px;
            }
            }
        }
        .ubi-main{
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
            .ubi-card{  
                border: 2px solid coral;
                height: 300px;
                width: 400px;
                margin: 10px;
                display: inline-block;
            }
}