@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #b98024b2;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
.button-one {
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgba(207, 46, 18, 0.726);
    box-shadow: black 2px 4px 4px;
    transition: all 0.4s ease-in-out ;
    &:hover{
        background-color: whitesmoke;
        color: rgb(207, 46, 18);
        animation: vibracion 0.8s ease-in-out infinite;
    }
}
    @keyframes vibracion {
        0% {
        transform: scale(1); 
        }
        50% {
        transform: scale(1.1);
        }
        100% {
        transform: scale(1); 
        }
    }

@keyframes sombra {
    0% {
        box-shadow:0 0 0 0 transparent
    }
    50% {
        box-shadow: 0 0 20px 0 rgb(114, 35, 21);
    }
    100% {
        box-shadow:0 0 30px 0 rgb(114, 35, 21);
    }

}


.title {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    padding: 5px;
    margin: 10px;
    color: rgb(207, 46, 18);
    text-shadow: rgb(0, 0, 0) 4px 5px 3px;
    }
